@charset "UTF-8";
body{
	background-color: #0066FF;
	/*background-image: url(Photo.jpg);
	background-size: 1600px 900px;*/
	background-repeat: repeat-y;
	
	size: 1600px 900px;
	font-family: 'Exo', sans-serif;

}


	.summer{font-size: 90px;
        color: #FFFFFF;
        border-style:dashed;
		
	}
	
	#bodyflame{
		size: 1600px 900px;
		border-style:double;
    	border-color:#1c1c1c;
	}


	

p{font-size:24px;
	color: #FFFFFF;}

footer{
	background-color: #FFFFFF;
	margin: 20px 0px 0px -10px;
	padding: 10px;
}
