@charset "UTF-8";
body{
	background-color: rgb(0, 238, 255);
	background-image: url(SUMMERCAMPAIGN-PHONEver1.png);
	background-size: 640px 360px;
	background-repeat: repeat-y;
	
	size: 1600px 900px;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	font-family: 'Bowlby One SC', cursive;

}





	.summer{font-size: 90px;
        color: #FFFFFF;
		border-style:dashed;
		padding: 10px 10px;
		
	}
	
	#bodyflame{
		size: 1600px 900px;
		border-style:double;
    	border-color:#1c1c1c;
	}


	

p{font-size:24px;
	color: #FFFFFF;}

	h2{color: #FFFFFF}

footer{
	background-color: #FFFFFF;
	margin: 20px 0px 0px -10px;
	padding: 10px;
}
