@charset "UTF-8";
body{
	background-color: white;
	background-image: url(Photo.jpg);
	background-size: 1600px 900px;
	background-repeat: repeat-y;
	
	padding-left: 100px;
}
footer{
	background-color: #1C1C1C;
	margin: 20px 0px 0px -10px;
	padding: 10px;
}
