<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.webServer>
        <rewrite>
            <rules>

                <rule name="rule 1m" stopProcessing="true">
					<match url="cleartamper\.php"  ignoreCase="true" />
                    <action type="Rewrite" url="cleartamper.php"/>
                </rule>
                <rule name="rule 9m" stopProcessing="true">
					<match url="index\.php"  ignoreCase="true" />
                    <action type="Rewrite" url="index.php"/>
                </rule>
                <rule name="rule 10m" stopProcessing="true">
					<match url=".*"  ignoreCase="true" />
                    <action type="Rewrite" url="index.php"/>
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>

</configuration>